* {
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	font-family: 'Helvetica';
	user-select: none;
}

body {
	min-width: 480px;
}

#slider, .slide-content {
	width: 100%;
	height: 100vh;
	overflow-x: hidden;
}

.date, .title {
	z-index: 1;
}

.menu, nav {
	z-index: 2;
}

.toggle {
	z-index: 3;
}

.dots {
	position: absolute;
	width: 100%;
	height: 100vh;
	overflow: hidden;
}

nav {
	position: fixed;
	width: 100%;
	height: 100px;
	transition: 0.1s;
}

nav.sticky {
	background-color: #fff;
	box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	transition: 0.2s;
}

nav.sticky .logo {
	height: inherit;
	margin: 0;
	transition: 0.3s;
}

nav.sticky .logo a {
	color: #ff0000;
	font-size: 40px;
	margin: 0;
	transition: 0.2s;
}

nav.sticky .toggle a {
	color: #ff0000;
}

.logo {
	width: 415px;
	height: 145px;
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 75px 0 0 0;
	transition: 0.2s;
}

.logo a {
	font-family: 'Roboto Condensed';
	font-size: 10em;
	font-weight: 700;
	color: #fff;
	text-transform: uppercase;
	margin: 0;
	transition: 0.1s;
}

.toggle {
	position: fixed;
	right: 0;
	width: 100px;
	height: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 40px;
}

.toggle a {
	color: #fff;
}

.menu {
	position: absolute;
	width: 100%;
	height: 100vh;
	left: -100%;
	background-color: rgba(255,255,255,0.7);
	transition: 0.3s;
}

.menu.active {
	left: 0;
}

body.red {
	overflow: hidden;
}

body.red .logo a, body.red .toggle a {
	color: #ff0000;
	z-index: 3;
}

.menu ul {
	position: absolute;
	left: 30%;
	top: 50%;
	transform: translate(-50%,-50%);
}

.menu ul li a {
	font-family: 'Roboto Condensed';
	font-size: 72px;
	font-weight: 700;
	color: #000;
	text-transform: uppercase;
}

.menu ul li a:hover {
	color: #454545;
}

.slide {
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.slide-content {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: flex-end;
	color: #fff;
}

.date {
	font-family: 'Roboto Condensed';
	font-size: 72px;
	font-weight: 700;
	margin: 0 65px 0 0;
	text-shadow: 0 0 2px #000;
}

.title {
	font-family: 'Roboto';
	font-size: 40px;
	font-weight: 300;
	margin: 0 65px 55px 0;
	text-shadow: 0 0 2px #000;
}

.arrow {
	width: 104px;
	height: 208px;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 50px;
	color: #ff0000;
	cursor: pointer;
	background-color: rgba(255,255,255,0.2);
}

#arrow-left {
	left: 0;
	border-radius: 0 200px 200px 0;
}

#arrow-left:hover {
	background-color: #fff;
}

#arrow-right {
	right: 0;
	border-radius: 200px 0 0 200px;
}

#arrow-right:hover {
	background-color: #fff;
}

#services {
	position: relative;
}

#services h1 {
	font-family: 'Roboto Condensed';
	font-size: 50px;
	font-weight: 700;
	text-align: center;
	text-transform: uppercase;
	margin: 110px auto 95px auto;
}

.cards-container {
	max-width: 1200px;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.card {
	flex-basis: 330px;
	height: 350px;
	background-color: #EBE8DE;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	margin-bottom: 30px;
	transition: 0.1s;
}

.card:hover {
	cursor: pointer;
	box-shadow: 0 3px 2px rgba(45,45,45,0.5);
	transform: translateY(-5px);
	transition: 0.2s;
}

.card img {
	width: 40%;
}

.card h3 {
	font-family: 'Roboto Condensed';
	font-size: 50px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 10px;
}

.animation {
	position: relative;
	width: 100%;
	height: 400px;
	overflow: hidden;
}

.mountains {
	position: absolute;
	height: inherit;
	width: 100%;
	bottom: 40px;
	background: url('../images/mountains.png') repeat-x center bottom;
	z-index: -1;
}

.trees {
	height: inherit;
	background: url('../images/trees.png') repeat-x center bottom;
}

.car {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: inherit;
}

.car img {
	position: absolute;
	bottom: 0;
	right: 0;
	animation: drive 10s linear infinite;
}

#contact {
	position: relative;
	margin-top: 30px;
}

.map {
	width: 85%;
	height: 800px;
	margin: 0 auto;
}

.inner {
	position: absolute;
	width: 70%;
	height: 570px;
	bottom: -100px;
	left: 50%;
	transform: translateX(-50%);
	display: flex;
	flex-direction: row;
	box-shadow: 1px 1px 3px rgba(0,0,0,0.1);
}

.social {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	flex-basis: 40%;
	background-color: #EBE8DE;
}

.social h2 {
	font-family: 'Roboto';
	font-weight: 300;
	font-size: 40px;
	text-transform: uppercase;
	padding: 30px;
}

.social h3 {
	font-family: 'Roboto';
	font-weight: 400;
	font-size: 30px;
}

.s {
	display: flex;
	flex-direction: row;
}

.s li {
	width: 48px;
	height: 48px;
	border: 2px #000 solid;
	border-radius: 50%;
	margin: 0 10px 0 10px;
}

.s li a {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #000;
}

.s li.gplus:hover {
	background-color: #dd4b39;
}

.s li.gplus:hover a {
	color: #fff;
}

.s li.facebook:hover {
	background-color: #3b5999;
}

.s li.facebook:hover a {
	color: #fff;
}

.s li.twitter:hover {
	background-color: #55acee;
}

.s li.twitter:hover a {
	color: #fff;
}

.fa-heart {
	color: #ff0000;
}

.form {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	background-color: #fff;
}

.form h2 {
	font-family: 'Roboto';
	font-weight: 300;
	font-size: 40px;
	text-transform: uppercase;
	margin-top: 20px;
}

form {
	width: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.left {
	width: 100%;
	display: flex;
	flex-direction: column;
}

.right {
	width: 100%;
	height: 450px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

input[type="text"], input[type="email"], textarea {
	min-width: 200px;
	width: 50%;
	padding: 15px;
	margin: 15px auto 15px auto;
	border: none;
	background-color: #F2F2F2;
	box-shadow: 0 0 1px rgba(0,0,0,0.3);
}

textarea {
	height: 125px;
	resize: none;
}

.rbtn {
	width: 70%;
	max-width: 300px;
	display: flex;
	justify-content: space-around;
	margin: 30px auto 0 auto;
}

.chbx {
	width: 100%;
	flex-basis: 70%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.chbx input {
	margin: 5px;
}

.chbx h4 {
	font-family: 'Roboto';
	font-weight: 300;
	margin-bottom: 30px;
}

input[type="submit"] {
	border: none;
	padding: 10px;
	font-family: 'Roboto';
	font-size: 20px;
	color: #fff;
	background-color: #000;
	text-transform: uppercase;
	position: absolute;
	right: 0;
	bottom: 0;
	margin: 35px 55px;
}

input[type="submit"]:hover {
	cursor: pointer;
	background-color: #333;
}

.rbtn-holder, .chbx-holder {
	display: block;
	position: relative;
	padding-left: 35px;
	margin-bottom: 12px;
	line-height: 25px;
	cursor: pointer;
}

.rbtn-holder {
	line-height: 20px;
}

.rbtn-holder input, .chbx-holder input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
}

.checkmark {
	position: absolute;
	top: 0;
	left: 0;
	width: 25px;
	height: 25px;
	background-color: #eee;
	box-shadow: 0 0 1px rgba(0,0,0,0.7);
}

.rbtn .checkmark {
	width: 20px;
	height: 20px;
	border-radius: 50%;
}

.chbx-holder:hover input ~ .checkmark {
    background-color: #ccc;
}

.rbtn-holder:hover input ~ .checkmark {
    background-color: #ccc;
}

.chbx-holder input:checked ~ .checkmark {
    background-color: #EF5350;
}

.rbtn-holder input:checked ~ .checkmark {
    background-color: #EF5350;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.chbx-holder input:checked ~ .checkmark:after {
    display: block;
}

.rbtn-holder input:checked ~ .checkmark:after {
    display: block;
}

.chbx-holder .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.rbtn-holder .checkmark:after {
	top: 6px;
	left: 6px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background-color: #fff;
}

.name, .email, .subject, .text, .gender {
	font-family: 'Roboto';
	font-weight: 300;
	font-size: 13px;
	color: red;
	text-align: center;
}

footer {
	height: 50px;
	margin-top: 120px;
}

.f {
	max-width: 1200px;
	margin: 0 auto;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.f h3 {
	font-family: 'Roboto';
	font-size: 16px;
	font-weight: 300;
}

@keyframes drive {
	0% {
		right: -250px;
	}
	100% {
		right: 100%;
	}
}

@media only screen and (max-width: 1200px) {

	.map {
		width: 100%;
	}

	.inner {
		width: 100%;
		height: 700px;
		bottom: -400px;
		flex-direction: column-reverse;
	}

	.social {
		flex-basis: 20%;
		flex-direction: row;
		background-color: #fff;
	}

	.social h2 {
		display: none;
	}

	.form {
		position: relative;
		width: 850px;
		height: 700px;
		margin: 0 auto;
		background-color: #EBE8DE;
	}

	footer {
		margin-top: 425px;
	}
}


@media only screen and (max-width: 992px) {

	.card {
		flex-basis: 230px;
		height: 250px;
	}

	.card img {
		width: 35%
	}

	.card h3 {
		font-size: 40px;
	}

	.form {
		width: 85%;
	}
}

@media only screen and (max-width: 768px) {

	.menu ul {
		margin-left: 30px;
	}

	.card {
		flex-basis: 485px;
		height: 495px;
	}

	.card img {
		width: 40%;
	}

	.card h3 {
		font-size: 60px;
	}

	.inner {
		height: 950px;
	}

	.form {
		height: 100%;
	}

	form {
		flex-direction: column;
	}

	.rbtn {
		margin-bottom: 10px;
	}

	.chbx {
		margin-top: 20px;
	}

	input[type="submit"] {
		left: 50%;
		transform: translateX(-50%);
		margin: 0 auto 10px auto;
	}

	.f {
		width: 90%;
		justify-content: space-between;
	}
}
